<div class="row">
    <div class=" jumbotron">
        <h1>Employee Entry Form</h1>
        <p>Enter employee data below</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form class="form-horizontal" novalidate ng-submit="submit()">
            <div>

                <!-- FIRST NAME -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label text-label" for="firstname">First Name</label>
                        <div class="col-md-8">
                            <input name="firstname" ng-model="employee.firstname" type="text" class="form-control entry" placeholder="First Name" required />
                            <span class="bar"></span>
                        </div>
                    </div>
                </div>

                <!-- LAST NAME -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label text-label" for="lastname">Last Name</label>
                        <div class="col-md-8">
                            <input name="lastname" ng-model="employee.lastname" type="text" class="form-control entry" placeholder="Last Name" required />
                            <span class="bar"></span>
                        </div>
                    </div>
                </div>

                <!-- STREET -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label text-label" for="street">Street</label>
                        <div class="col-md-8">
                            <input name="address" ng-model="employee.address" type="text" class="form-control entry" placeholder="Street" />
                        </div>
                    </div>
                </div>

                <!-- ZIP CODE -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label text-label" for="zipcode">Zip Code</label>
                        <div class="col-md-8">
                            <input name="zipcode" ng-model="employee.zipcode" type="tel" class=" form-control entry" placeholder="Zip Code" />
                        </div>
                    </div>
                </div>

                <!-- CITY -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label text-label" for="city">City</label>
                        <div class="col-md-8">
                            <input name="city" ng-model="employee.city" type="text" class="form-control entry" placeholder="City" />
                        </div>
                    </div>
                </div>

                <!-- STATE -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label text-label" for="state">State</label>
                        <div class="col-md-8">
                            <input name="state" ng-model="employee.state" type="text" class="form-control entry" placeholder="State" />
                        </div>
                    </div>
                </div>

                <!-- PHONE -->
                <div class="col-md-6">
                    <div class="form-group text-label">
                        <label class="col-md-4 control-label" for="phone">Phone</label>
                        <div class="col-md-8">
                            <input name="phone" ng-model="employee.phonenumber" type="tel" class="form-control entry" placeholder="Phone" />
                        </div>
                    </div>
                </div>

                <!-- BIRTH DATE -->
                <div class="col-md-6">
                    <div class="form-group text-label">
                        <label class="col-md-4 control-label" for="startdate">Birth Date</label>
                        <div class="col-md-8">
                            <input name="birthdate" ng-model="employee.birthdate" type="date" class="form-control entry" placeholder="Birth Date" />
                        </div>
                    </div>
                </div>

                <!-- WORK LOCATION -->
                <div class="col-md-6">
                    <div class="form-group text-label">
                        <label class="col-md-4 control-label" for="worklocation">Work Location</label>
                        <div class="col-md-8">
                            <input name="workplace" ng-model="employee.workplace" type="text" list="locations" class="form-control entry" placeholder="Work Location" />
                            <datalist id="locations">
                                <option value="Student">
                                <option value="Baby">
                                <option value="Power Plant">
                                <option value="Other">
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SIGNATURE -->
            <div class="col-md-10">
                <div class="form-group text-label">
                    <label class="control-label" for="signature">Signature</label>
					<div>
						<p>
							(bug) Requires resize of browser before using
						</p>
					</div>
                    <canvas sketch-pad id="signature-pad" class="signature-pad"></canvas>
                    <img ng-show="existingSignature" id="signatureModal" />
                </div>
            </div>

            <div class="pull-right padding">
                <button type="submit" class="btn btn-default navbar-btn button">Submit</button>
                <button type="reset" class="btn btn-default navbar-btn button" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>